.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: calc(100vh - 18rem);
}

.sectionNumber {
  color: var(--orange);
  font-size: 2.5rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionNumber::after {
  content: "";
  display: block;
  width: 8rem;
  background: var(--dark-text);
  height: 2px;
  margin-left: 1rem;
}
