.container {
  position: relative;
  border: 2px solid var(--orange);
  width: 7rem;
  height: 3rem;
  border-radius: 18px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: inset 0px 0px 3px -1px black;
  z-index: 2;

  &-switch {
    width: 50%;
    position: absolute;
    height: 100%;
    z-index: -1;
    top: 0;
    bottom: 0;
    background: #888;
    border-radius: 50px;
    z-index: 3;
    &--show-moon {
      left: 0;
    }

    &--hide-moon {
      right: 0;
    }
  }
  &-sun {
    color: yellow;
    &:hover {
      cursor: pointer;
    }
  }

  &-moon {
    color: lightblue;
    &:hover {
      cursor: pointer;
    }
  }
}
