.container {
  position: fixed;
  bottom: 0;
  right: 81px;
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  align-items: center;
  animation: slideUp ease-in 600ms;
}

.container a {
  writing-mode: vertical-rl;
  display: inline-block;
  margin-bottom: 2rem;
  text-decoration: none;
  color: #d65a31;
  transition: margin-bottom 0.3s;
}

.container a:hover {
  margin-bottom: 3rem;
}

.container::after {
  content: "";
  width: 2px;
  height: 8rem;
  background: #eeeeee;
}

@keyframes slideUp {
  0% {
    bottom: -330px;
  }

  100% {
    bottom: 0;
  }
}
