.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 100vh;
  justify-content: center;
}

.container span {
  font-size: 3rem;
  margin: 0px;
  color: #d65a31;
}

.container h1 {
  font-size: 7rem;
  margin: 0px;
  color: #eee;
}

.container h2 {
  margin: 0px;
  font-size: 6rem;
  color: #eeeeee85;
}

.container p {
  color: #eeeeee85;
  font-size: 2rem;
  max-width: 50rem;
}

.sectionNumber {
  color: var(--orange);
  font-size: 2.5rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  animation: slideIn 600ms ease-in;
}

.sectionNumber::after {
  content: "";
  display: block;
  width: 8rem;
  background: var(--dark-text);
  height: 2px;
  margin-left: 1rem;
}

.button {
  position: relative;
  padding: 1.5rem 3rem;
  border: 2px solid var(--orange);
  background: transparent;
  font-size: 1.5rem;
  color: var(--light-text);
  cursor: pointer;
  outline: none;
  transition: background 0.3s;
}

.button::after {
  content: "\2192";
  width: 2px;
  background: var(--light-text);
  display: block;
  position: absolute;
  font-size: 3rem;
  height: 0px;
  right: 12px;
  top: 5px;
  transition: right 0.3s;
  color: var(--light-text);
}

.button:hover {
  background: #d65a3161;
  box-shadow: inset 0px 0px 4px #000000c2;
}

.button:hover::after {
  right: 6px;
}

.sectionInfo {
  animation-fill-mode: forwards;
  animation: fadeIn 1.5s cubic-bezier(0.4, 0, 1, 1) !important;
  animation-delay: 300ms;
}

@keyframes slideIn {
  0% {
    left: -450px;
  }

  100% {
    left: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
