.container {
  display: flex;
  justify-content: space-between;
  max-height: 40px;
  padding: 4rem 10rem;
  align-items: center;
  width: 100%;
  position: fixed;
  backdrop-filter: blur(10px);
  box-shadow: 0 10px 30px -10px #1b1f25;
  z-index: 1;
  background-color: #222831db;
  box-sizing: border-box;
  top: 0;
  transition: top 0.3s;
  animation: slideDown 600ms ease-in;
}

.title {
  color: #fff;
  font-size: 1.5rem;
}

.list {
  color: #fff;
  font-size: 1.5rem;
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding-left: 0px;
  counter-set: link;
  align-items: center;
}

.list li {
  margin-right: 2rem;
}

.list li:hover:not(:last-of-type) {
  cursor: pointer;
}

.list a::before {
  counter-increment: link;
  content: counter(link) ". ";
  color: #d65a31;
}

.list .resume {
  border: 2px solid #fff;
  border-radius: 3px;
  padding: 10px;
}

@keyframes slideDown {
  0% {
    top: -84px;
  }

  100% {
    top: 0;
  }
}
